## Generic SQL Questions:

Sample table to be used for solutions below â€“ 
Employee ( empid integer, mgrid integer, deptid integer, salary integer) 
Dept (deptid integer, deptname text)

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Create a DataFrame
data = {'E_ID':['100','101','102','103','104','105','106','107','108'],      
        'M_ID':['00','','02','','','05','','07','08'],      
        'SALARY':[10000,9500,11000,10500,8000,9500,8000,11000,15000],
        'D_ID':['201','201','201','205','205','205','202','202','203'],
        'D_NAME':['A','A','A','E','E','E','B','B','C'],  
       }

df = pd.DataFrame(data)
df

  E_ID M_ID  SALARY D_ID D_NAME
0  100   00   10000  201      A
1  101         9500  201      A
2  102   02   11000  201      A
3  103        10500  205      E
4  104         8000  205      E
5  105   05    9500  205      E
6  106         8000  202      B
7  107   07   11000  202      B
8  108   08   15000  203      C

#### 1. Find employees who do not manage anybody.

#### 2. Find departments that have maximum number of employees. (solution should consider scenario having more than 1 departments that have maximum number of employees). Result should only have following information for selected department - deptname, count of employees sorted by deptname.

In [3]:
# unique department names and number of employees
dep,counts = np.unique(df['D_NAME'],return_counts=True)

print('The unique department names:')
print(dep)

print('The number of employees:')
print(counts)

The unique department names:
['A' 'B' 'C' 'E']
The number of employees:
[3 2 1 3]

In [6]:
# indexs have maximum number of employees
i = np.argwhere(counts == np.max(counts))
#print(i)

# the names of departments having maximum number of employees
# (deptname is automatically sorted from np.unique)
dep_name_max = dep[i]

print('The departments having maximum number of employees:')
print(dep_name_max)

print('The number of employees of the department(s):')
print(np.max(counts))

The departments having maximum number of employees:
[['A']
 ['E']]
The number of employees of the department(s):
3

#### 3. Find top 3 employees (salary based) in every department. Result should have deptname, empid, salary sorted by deptname and then employee with high to low salary.

#### 4. List all employees, their salary and the salary of the person in their department who makes the most money but less than the employee.